@charset "UTF-8";

	body {margin: 0; padding: 0;}
		
	a {text-decoration: none;}
		
/* account.jsp --------------------------------------------------- */		
		#container{
					position: relative;
					width: 100vh;
					height: 100vh;
					}
		
		#header{
				width: 100%;
				height: 130px;
				position: absolute;
				left: 0px;
				}
		
		.account_box {
				width: calc(100% - 300px);
				height: 100%;
				position: absolute;
				left: 300px;
				}

		.seeMyaccount{position: absolute;
						left: 150px;
						top: 300px;
						width: 200px;
						border: 1px solid;
						
		}
		
		.mySwiper {
			width: 1400px;
			top: 370px;
			left: 150px;
			height: 450px;
			padding: 10px;
			position: absolute;
			z-index: 1;
			overflow: hidden;
			border: 3px solid #9d98ab;
		}
		
		.swiper-wrapper{
			width: 1400px;
			position: absolute;
			top: 80px;
			height: 305px;
			padding-left: 30px;
		
		}
		
		.swiper-slide {
			display: flex;
			width: 400px;
			height: 300px;
			cursor: pointer;
		}
		
		.swiper-slide a img{
						width: 380px;
						height: 270px;
						border-bottom-left-radius: 20px; 
						border-bottom-right-radius: 20px;
						border: 3px solid;
						box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8); /* 내부 그림자 */
		}
		
			
			.bankbook_front{position: absolute;
						left: 5px;
						z-index: 4;
						width: 380px;
						height: 200px;
						background: #4cacad;
						border-bottom-left-radius: 20px; 
						border-bottom-right-radius: 20px;
						box-shadow: inset 0 0 10px rgba(55, 102, 102, 0.5); /* 내부 그림자 */
			}
			
			.bankbook_line{ border: 1px solid;
							width: 380px;
							height: 30px;
							position: absolute;
							left: 4px;
							top: 25px;
							z-index: 5; 
							background:#1e2626;
							 box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.5); /* 내부 그림자 */
							 }
			.bankbook_page1{position: absolute;
						left: 7px;
						top: 5px;
						z-index: 3;
						width: 375px;
						height: 260px;
						background: #fcf2d2;
						border-bottom-left-radius: 20px; 
						border-bottom-right-radius: 20px;
						box-shadow: inset 0 0 10px rgba(135, 117, 55, 1); /* 내부 그림자 */
			}
			.bankbook_page2{position: absolute;
						left: 7px;
						top: 7px;
						z-index: 2;
						width: 375px;
						height: 270px;
						background: #d9cfb0;
						border-bottom-left-radius: 20px; 
						border-bottom-right-radius: 20px;
						box-shadow: inset 0 0 10px rgba(186, 164, 91, 0.8); /* 내부 그림자 */
			}

			
			.bankbook_end{position: absolute;
						left: 5px;
						top: 10px;
						z-index: 1;
						width: 380px;
						height: 270px;
						background: #416e6e;
						border-bottom-left-radius: 20px; 
						border-bottom-right-radius: 20px;
						box-shadow: inset 0 0 10px rgba(55, 102, 102, 0.5); /* 내부 그림자 */
			}
			.nowmoney_info{position: absolute;
						z-index: 6;
						   left: 20px;
        				bottom: 40px;
       					 z-index: 6;
       					 font-size: 35px;
       					 padding: 10px;
			}
			.account_number_info{position: absolute;
						z-index: 6;
						   left: 20px;
        				bottom: 100px;
       					 z-index: 6;
       					 font-size: 18px;
       					 padding: 10px;
			}
			.bankname_info{position: absolute;
						z-index: 6;
						   right: 100px;
        				bottom: 100px;
       					 z-index: 6;
       					 font-size: 18px;
       					 padding: 10px;
			}

			.seenotice{border: 1px solid;
						position: absolute;
						width: 400px;
						height: 500px;
						left: 450px;
						margin-top: 80px;
						}
			.seenotice table{
						width: 400px;
						height: 400px;
			}
			.seeboard{border: 1px solid;
						position: absolute;
						width: 400px;
						height: 500px;
						left: 950px;
						margin-top: 80px;
						}
			.seeboard table{
						width: 400px;
						height: 400px;
			}
			.seeqna{border: 1px solid;
						position: absolute;
						width: 400px;
						height: 230px;
						left: 1460px;
						margin-top: 80px;
						}
			.seeqna table{
						width: 400px;
						height: 150px;
			}
			.fagor{border: 1px solid;
						position: absolute;
						width: 400px;
						height: 200px;
						left: 1460px;
						margin-top: 380px;
						}
		
/* account_inset_form.jsp --------------------------------------------------- */	
	h1{ border: 1px solid;
		height: 100px;}
			
	#bank_box{
			border: 1px solid;
			width: 330px;
			height: 400px;
			overflow: auto; /* 필요시 스크롤 사용 */
			float: left;
			}
			
	.bank_mini{
			border: 1px solid red;
			width: 60px;
			float: left;
			margin: 20px;
			cursor: pointer;
			}
			

	.bank_img{
			border: 1px solid green;
			width: 60px;
			}
			
	#form_box{border: 2px solid blue;
			width: 300px;
			height: 700px;
			float: right}

	